body {
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
ul{
  padding: 15px;
}
li {
  display: inline;
}
.left {
  float: left;
  padding-left: 20px;
}
.login {
  background-color: #4285f4;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  margin-left: 10px;
  padding: 7px;
  width: 25px;
}
/*.left li
{
  float: left;
}
.left li a
{
  display: block;
	text-align: center;
	padding: 14px 10px;
	font-size: 13px;
}*/
.right {
  float: right;
  padding-right: 20px;
}
.search {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 7px 16px 0 16px;
  line-height: 27px;
  height: 34px;
  text-align: center;
  cursor: pointer;
}
/*
.search-space{
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 24px;
    line-height: 24px;
    margin: 15px;
    padding: 10px;
}*/
.search-space{
  display: flex;
	justify-content: center;
}

#search-area{
  position: relative;
  left: 45px;
  top: 17px;
  /*background-image: url(./magnifying-glass.jpg);*/
  background-position: 4px 7px;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 38px;
  width: 530px;
  height: 44px;
  z-index: 1;
  margin: auto;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  -webkit-tap-highlight-color: transparent
}
.search-buttons{
  display: flex;
	justify-content: center;
}
.window-adjust{
  margin: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.window-adjust > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

a {
    color: #222;
    padding: 7.5px;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.f{
  padding-left: 27px;
  color: rgb(95, 99, 104);
}
.bottom
{
  border-top: solid 1px #8888883f;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #eeeeee;
  color: #000000b6;
}
.low-left{
  display: flex;
  justify-content: flex-start;
}
.low-right{
  display: flex;
  justify-content: flex-end;
  margin-right: 27px;
}
.field{
  -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin: 50px 0;
}
.field > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
 .fitted{
  display: flex;
  justify-content: center; 
 } 
 .leftstuff{
  float: left;
  padding-right: 15px;
}
.rightstuff{
  float: right;
  padding-left: 15px;
}
