<<<<<<< HEAD
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .left {
    float: left;
    padding-left: 20px;
  }
  .right {
    float: right;
    padding-right: 20px;
  }
  .search {
    display: block;
    width: 100%;
    height: 45px;
    border-radius: 25px;
    padding: 15px;
    border: 1px solid rgb(196, 196, 196);
    outline: none;
  }
  
=======

>>>>>>> f3858138cff9da12f3c1cb9fae3cfc5470dcebd5
